body, .totalcontainer {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar, .totalcontainer::-webkit-scrollbar {
    display: none;
}
body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}

.sidenavbar {
    background-color: #1C1C1C;
    z-index: 2;
    position: absolute;
    top: 50%;
    text-align: left;
    list-style-type: none;
    padding: 3vh;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    -ms-transform: translate(-90%, -50%);
    transform: translate(-90%, -50%);
    transition: .5s ease;
}
.sidenavbar li {
    padding: 1.5vh;
    padding-left: 0.5vh;
    width: auto;
    border-width: 0px;
    border-color: #383735;
    border-style: solid;
}
.sidenavbar a {
    text-decoration: none;
}
.sidenavbar:hover {
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
#bgvidplayer {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 2s;
    pointer-events: none;
}

#logo_main {
    position: absolute;
    max-height: 60vh;
    max-width: 80vw;
    animation: fadeouthalf 4s;
    animation-delay: 4s;
    z-index: -1;
}
#bgvidplayer, #logo_main {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 50px;
    animation-fill-mode: forwards;
}

div.totalcontainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}
div.totalcontainer .pageempty, div.totalcontainer .page {
    scroll-snap-align: start;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
div.totalcontainer .page {
    z-index: 1;
    background-color: #E6E6E6;
}

.right { float: right; text-align: left; border-bottom-right-radius: 7vw; border-top-left-radius: 7vw;}
.left { float: left; text-align: right; border-bottom-left-radius: 7vw; border-top-right-radius: 7vw;}
.right p { padding-left: 1.5vw; }
.left p { padding-right: 1.5vw; }

.right, .left {
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 70vh;
    background-color: #000000;
    position: relative;
}
.textbox, .textboxcopy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
}