.btn {
    width: 180px; 
    height: 60px; 
    cursor: pointer; 
    background: transparent; 
    border: 1px solid #91C9FF; 
    outline: none; transition: 1s ease-in-out; 
}
.btn:hover { transition: 1s ease-in-out; background: #4F95DA; }
.btn:hover svg { stroke-dashoffset: -480; }
.btn span { color: white; font-size: 18px; font-weight: 100; }